In [1]:
import pandas as pd
import numpy as np

In [4]:
dataset_columns = pd.read_csv('../datasets/restaurant_db_data_dictionary.csv')

In [5]:
dataset_columns

,Table,Field,Description
0,menu_items,menu_item_id,Unique ID of a menu item
1,menu_items,item_name,Name of a menu item
2,menu_items,category,Category or type of cuisine of the menu item
3,menu_items,price,Price of the menu item (US Dollars $)
4,order_details,order_details_id,Unique ID of an item in an order
5,order_details,order_id,ID of an order
6,order_details,order_date,Date an order was put in (MM/DD/YY)
7,order_details,order_time,Time an order was put in (HH:MM:SS AM/PM)
8,order_details,item_id,Matches the menu_item_id in the menu_items table